<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--configuration核心配置文件-->
<configuration>


    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.ShaoXia.pojo"/>
    </typeAliases>
    
    <mappers>
        <mapper resource="com/ShaoXia/dao/OrderMapper.xml"></mapper>
        <mapper resource="com/ShaoXia/dao/OrderProductMapper.xml"></mapper>
        <mapper resource="com/ShaoXia/dao/ProductMapper.xml"></mapper>
    </mappers>
</configuration>
