<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ShaoXia.dao.OrderMapper">


    <select id="selectAllOrder" resultMap="rop">
        select
            o.order_id oid,
            o.order_price op,
            p.product_name pn,
            p.product_price pp,
            po.quantity poq
        from `order` o
        inner join `productorder` po on o.order_id = po.order_id
        inner join product p on p.product_id = po.product_id
    </select>
    <resultMap id="rop" type="resultOrderProduct">
        <result property="orderId" column="oid"/>
        <result property="orderPrice" column="op"/>
        <collection property="products" ofType="product">
            <result property="productName" column="pn"/>
            <result property="productPrice" column="pp"/>
        </collection>
        <collection property="orderProducts" ofType="orderProduct">
            <result property="quantity" column="poq"/>
        </collection>
    </resultMap>


    <select id="selectOrderById">
        select
            o.order_id oid,
            o.order_price op,
            p.product_name pn,
            p.product_price pp,
            po.quantity poq
        from `order` o
                 inner join `productorder` po on o.order_id = po.order_id
                 inner join product p on p.product_id = po.product_id
        where o.order_id = #{id}
    </select>


    <!--插入一张空订单-->
    <insert id="insertOrder">
      insert into `order` (order_price) values (0.00)
    </insert>


    <!--删除order，并且关联表里外键设置了ON DELETE CASCADE会一并删除-->
    <delete id="deleteOrder" parameterType="_int">
        delete from shop.order where order_id = #{id}
    </delete>



    <update id="updateOrder">
        update `order` o
        set  o.order_price = (
            select SUM(op.quantity * p.product_price)
            from productorder op
            inner join product p on p.product_id = op.product_id
            where o.order_id = op.order_id
            )
        where o.order_id = #{order_id};
    </update>



</mapper>
