<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ShaoXia.dao.ProductMapper">
    <!--查询全部的商品-->
    <select id="selectAllProduct" resultType="product">
        select * from product
        <where>
            <if test="order_id != null">
                and order_id = #{order_id}
            </if>
            <if test="product_id != null">
                and product_id = #{product_id}
            </if>
        </where>
    </select>

    <!--根据id查询指定商品-->
    <select id="selectProductById" parameterType="_int">
        select * from product where product_id = #{id}
    </select>

    <!--增加商品-->
    <insert id="insertProduct" parameterType="product">
        insert into product (product_name,product_price)
        values (#{productName},#{productPrice})
    </insert>

    <!--删除商品，同时由于外键，关联表里相关的数据会被一并删除-->
    <delete id="deleteProduct" parameterType="_int">
        delete from product where product_id = #{id}
    </delete>


    <!--更新商品-->
    <update id="updateProduct" >
        update `product`
        set product_name = #{productName},product_price = #{productPrice}
        where product_id = #{productId}
    </update>
</mapper>
